.Trainer {
  position: relative;
  flex: 1;
  background-color: var(--color-darker);
}

.Trainer select {
  user-select: none;
}

.Trainer select {
  margin-right: 10px;
}

.Trainer select:nth-child(1) {
  margin-left: 5px;
}

.Trainer input {
  width: 40px;
  margin-right: 10px;
}

.text {
  margin-top: 20px;
  font-size: 2rem;
  word-wrap: break-word;
  letter-spacing: 1px;
  font-family: 'Oxygen Mono', monospace;
  user-select: none;
  outline: none;
  padding: 20px;
}

.letter {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.letter.untyped {
  color: var(--color-light);
}
.letter.active {
  color: var(--color-active);
}
.letter.correct {
  color: var(--color-dark);
}
.letter.incorrect {
  color: red;
}

.finalStats {
  position: absolute;
  top: 76px;
  left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: fit-content;
  padding: 20px 40px;
  background-color: var(--color-darker);
  font-size: 2em;
  filter: drop-shadow(6px 6px 6px black);
  border-radius: 6px;
  text-align: center;
  z-index: 2;
}
