.Keyboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--color-light);
  user-select: none;
}

.Keyboard .keys {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 2px;
}

.Key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 2px;
  padding: 5px;
  background-color: var(--color-dark);
  /* font-weight: bold; */
  font-size: 1.6rem;
  /* box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 20); */
  /* filter: drop-shadow(2px 2px 2px black); */
  font-family: 'Oxygen Mono', monospace;
  border-radius: 2px;
  color: var(--color-light);
  transition: all 0.1s 0s;
}

.Key.pressed {
  background-color: var(--color-lighter);
  color: var(--color-dark);
}
.Key.active {
  /* filter: drop-shadow(0 0 4px var(--color-active)); */
  background-color: var(--color-active);
  color: var(--color-dark);
}
.Key.long {
  width: 192px;
  height: 46px;
}

.Keyboard .row {
  display: flex;
}

/* .Keyboard .row:nth-child(2) .Key:nth-child(4),
.Keyboard .row:nth-child(2) .Key:nth-child(8) {
  text-decoration: underline;
  text-underline-offset: 10px;
} */

.Key.homekey {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.spacer {
  display: inline-block;
  width: 100px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.righthand {
  transform: rotateY(180deg);
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25px;
  height: 25px;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 25px;
}

.indicator.active {
  background-color: var(--color-active);
}

.hand {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

textarea {
  background-color: var(--color-darker);
  color: var(--color-lighter);
  font-size: 1.2rem;
  width: 340px;
  height: 400px;
}

.fit {
  width: fit-content;
}
