:root {
  --color-darker: #071330;
  --color-dark: #13344c;
  --color-light: #367a91;
  --color-lighter: #88bfcb;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  background-color: var(--color-darker);
  color: var(--color-ligher);
  font-size: 1rem;
}

.main {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 1.4rem;
}

input[type='checkbox'] {
  visibility: hidden;
}
/* Creating a custom checkbox
        based on demand */
.checkbox {
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid var(--color-darker);
}

/* Specify the background color to be
      shown when hovering over checkbox */
.main:hover input ~ .checkbox {
  background-color: var(--color-lighter);
}

/* Specify the background color to be
      shown when checkbox is active */
/* .main input:active ~ .checkbox {
  background-color: red;
} */

/* Specify the background color to be
      shown when checkbox is checked */
.main input:checked ~ .checkbox {
  background-color: var(--color-darker);
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.checkbox:after {
  content: '';
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .checkbox:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
      showing only two border to make it look
      like a tickmark */
.main .checkbox:after {
  left: 5px;
  bottom: 4px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
