:root {
  --color-darker: #071330;
  --color-dark: #13344c;
  --color-light: #367a91;
  --color-lighter: #88bfcb;
  --color-active: #fff;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  background-color: var(--color-darker);
  color: var(--color-ligher);
  font-size: 1rem;
  border: 1px solid var(--color-lighter);
  padding: 2px;
}

.label {
  color: var(--color-light);
}
.low {
  color: red;
}
.medium {
  color: orange;
}
.high {
  color: lightgreen;
}
