.Typer {
  position: relative;
  flex: 1;
  padding: 20px;
}

.Typer select {
  user-select: none;
}

.Typer select:nth-child(2) {
  margin-right: 10px;
}

.Typer select:nth-child(3) {
  margin-right: 20px;
}

.Typer input {
  width: 40px;
  margin-right: 10px;
}

.text {
  margin-top: 20px;
  font-size: 2rem;
  word-wrap: break-word;
  letter-spacing: 1px;
  font-family: 'Oxygen Mono', monospace;
  user-select: none;
  outline: none;
}

.logo {
  font-family: 'Nova Mono', monospace;
  user-select: none;
  margin-right: 20px;
}

.options {
  width: fit-content;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-darker);
}

.letter {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.letter.untyped {
  color: var(--color-light);
}
.letter.active {
  color: var(--color-active);
}
.letter.correct {
  color: var(--color-darker);
}
.letter.incorrect {
  color: red;
}

.finalStats {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background-color: var(--color-darker);
  font-size: 2em;
}
